screenXSize 640
screenYSize 480
windowX 50
windowY 50
fullscreen 1
textureQuality 7
interfaceSounds 1
textureFilter 1
stencil 0
trackerEnable 1
environmentMapping 1
soundEnable 1
maxCarSources 2
color32Bit 1
interiorDisplay 2
clipFarDistance 300.000000
cameraMode 1
registerLapTimes 1
showPlayerNames 1
guideSigns 1
soundVolume 0.500000
lastCar "0_mini.car"
lastRoad "city2.mapinfo"
maxPlayers 6
numEnemies 1
automatic 1
lastLaps 3
lastEnv "sunset.env"
numTaunts 5
motionBlur 1
numKeys 23
# 0
keyID 0x7e
controllerID 0xffffffff
identifier "Up Arrow"
controllerIdentifier "Button 4"
# 1
keyID 0x7d
controllerID 0xffffffff
identifier "Down Arrow"
controllerIdentifier "Button 6"
# 2
keyID 0x7b
controllerID 0xffffffff
identifier "Left Arrow"
controllerIdentifier "Button 2"
# 3
keyID 0x7c
controllerID 0xffffffff
identifier "Right Arrow"
controllerIdentifier "Button 3"
# 4
keyID 0x31
controllerID 0xffffffff
identifier "Space"
controllerIdentifier "Button 7"
# 5
keyID 0x38
controllerID 0xffffffff
identifier "Shift"
controllerIdentifier "Button 5"
# 6
keyID 0x0
controllerID 0xffffffff
identifier "A"
controllerIdentifier "Button 14"
# 7
keyID 0x6
controllerID 0xffffffff
identifier "Z"
controllerIdentifier "Button 13"
# 8
keyID 0x3
controllerID 0xffffffff
identifier ""
controllerIdentifier ""
# 9
keyID 0x7
controllerID 0xffffffff
identifier "X"
controllerIdentifier ""
# 10
keyID 0x2a
controllerID 0xffffffff
identifier "\"
controllerIdentifier ""
# 11
keyID 0x8
controllerID 0xffffffff
identifier "C"
controllerIdentifier "Button 12"
# 12
keyID 0x23
controllerID 0xffffffff
identifier "P"
controllerIdentifier ""
# 13
keyID 0x35
controllerID 0xffffffff
identifier ""
controllerIdentifier ""
# 14
keyID 0x37
controllerID 0xffffffff
identifier "Command"
controllerIdentifier "Button 11"
# 15
keyID 0x12
identifier "1"
# 16
keyID 0x13
identifier "2"
# 17
keyID 0x14
identifier "3"
# 18
keyID 0x15
identifier "4"
# 19
keyID 0x17
identifier "5"
# 20
keyID 0x09
identifier "V"
# 21
keyID 0x2f
identifier "."
# 22
keyID 0x2b
identifier ","
# 23
keyID 0x2c
identifier "/"
numAxis 2

numAxis 2
# 0
axisID 0xffffffff
axisIdentifier "Axis 17"
min 22
mid 64
max 96
# 1
axisID 0xffffffff
axisIdentifier "Axis 20"
min 26
mid 64
max 89
# 0
opponentCars "gti.car"
opponentColors 2
# 1
opponentCars "bmw2002.car"
# 2
opponentCars "mini.car"
opponentColors 1
# 3
opponentCars "500gt.car"
# 4
opponentCars "dmc12.car"
# 5
opponentCars "corvette.car"
opponentColors 1
# 6
opponentCars "charger.car"
# 7
opponentCars "959.car"
# 8
opponentCars "tt.car"
# 9
opponentCars "maserati.car"
# 10
opponentCars "diablo.car"
