numGauges 7

# 0
gaugeTexture "speedo140mph.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -135
gaugeMax 62.5856
type 1
# 1
gaugeTexture "speedo280kmh.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -135
gaugeMax 77.777
type 2
# 2
gaugeTexture "tacho7k.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -135
gaugeMax 7000
type 0
# 3
gaugeTexture "tacho8k.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -121
gaugeMax 8000
type 0
# 4
gaugeTexture "tacho10k.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -121
gaugeMax 10000
type 0
# 5
gaugeTexture "speedo220mph.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -135
gaugeMax 98.34
type 1
# 6
gaugeTexture "speedo360kmh.tif"
pointerTexture "pointer.tif"
pointerWidth 0.25
gaugeZero -135
gaugeMax 100
type 2
